.Event {
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    flex-basis: 31.8%;
    max-width: 31.8%;
    flex-grow: 1;
    white-space: wrap;
}
.Cover {
    aspect-ratio: 1.94/1;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}
.Title {
    font-size: 15px;
    font-weight: 700;
    color: #444;
}
.Organizer {
    flex-direction: row;
    gap: 5px;
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}
.Info {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 12px;
    color: #666;
}

@media (max-width: 480px) {
    .Event {
        flex-basis: 100%;
        max-width: 100%;
    }
}